body {
    font: 14px helvetica, sans-serif;
    background-image:url(food.png);
}

#container{
    width: 500px;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.4);
    padding: 20px;
}

#container p{
    line-height: 25px;
}
.profile{
    float: left;
    margin-right:25px; 
}